@{
    ViewData["Title"] = "Create New Product";
}
@model Product

<div class="text-center">
    <h3 class="display-4">Create New Product</h3>
    <div>
        <form asp-action="Create" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3" class="form-group">
                <label asp-for="Name" class="form-label">Product Name</label>
                <input asp-for="Name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" type="text" class="form-control" id="desc" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label asp-for="price" class="form-label">Price</label>
                <input asp-for="price" type="number" class="form-control" id="price" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label">Image</label>
                <input asp-for="Image" type="file" class="form-control" id="img" aria-describedby="emailHelp"
                    onchange="previewFile()"><br>
                <img src="" height="200" alt="Image preview...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="">
    function previewFile() {
        var preview = document.querySelector('img');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>