@{
    ViewData["Title"] = "Create New Student";
}
@model Student

<div class="text-center">
    <h3 class="display-4">Create New Student</h3>
    <div>
        <form asp-action="Create" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3" class="form-group" >
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstname" aria-describedby="emailHelp">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3" class="form-group">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastname" aria-describedby="emailHelp">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Địa chỉ</label>
                <input asp-for="Address" type="text" class="form-control" id="address" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" id="address" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
